In [1]:
#wap to add data to a tuple.

In [2]:
x = (1,2,3,4)

In [3]:
print(x)

(1, 2, 3, 4)

In [4]:
type(x)

tuple

In [5]:
x[0]=100

TypeError: 'tuple' object does not support item assignment

In [7]:
y = list(x)

In [8]:
print(y)

[1, 2, 3, 4]

In [9]:
y.append('data')

In [10]:
y

[1, 2, 3, 4, 'data']

In [13]:
z = tuple(y)

In [14]:
print(z)

(1, 2, 3, 4, 'data')

In [15]:
type(z)

tuple

In [16]:
# 8.Write a Python program to find the index of an 
# item of a tuple.

# 9.Write a Python program to reverse a tuple.

# 10.Write a Python program calculate the product, 
# multiplying all the numbers of a given tuple. 
# Original Tuple:
# (4, 3, 2, 2, -1, 18)


x = (1,2,3,4,9,7,5)
x[::-1]

(5, 7, 9, 4, 3, 2, 1)

In [18]:
x = list(x)

In [19]:
x

[1, 2, 3, 4, 9, 7, 5]

In [20]:
x.reverse()

In [21]:
x

[5, 7, 9, 4, 3, 2, 1]

In [22]:
x = tuple(x)

In [23]:
x

(5, 7, 9, 4, 3, 2, 1)

In [34]:
x = (4, 3, 2, 2, -1, 18)
y = 2
for i in x:
    x = i*y
    print(x)

8
6
4
4
-2
36

In [35]:
x = (4, 3, 2, 2, -1, 18)
y = 2
for i in x:
    print(y*i)

8
6
4
4
-2
36

# DICT

In [55]:
x = {
    'name':['Neha','Priya','Priyanka','Kirti'],
    'age':(90,91,92,93),
    'marks':(1,2,45,99)
}
print(x)

{'name': ['Neha', 'Priya', 'Priyanka', 'Kirti'], 'age': (90, 91, 92, 93), 'marks': (1, 2, 45, 99)}

In [37]:
type(x)

dict

In [38]:
x

{'name': 'Neha', 'age': 90, 'marks': 99}

In [39]:
x['name']

'Neha'

In [46]:
x['name'][1]

'Priya'

In [47]:
x['age'][1]

91

In [48]:
# unindexed
# ordered
# a kind of slicing is possible but not with index.
# mutable

x = {
    'a':23
}

In [49]:
type(x)

dict

In [52]:
x['a']= 100

In [53]:
x

{'a': 100}

In [54]:
x

{'a': 100}

In [56]:
x

{'name': ['Neha', 'Priya', 'Priyanka', 'Kirti'],
 'age': (90, 91, 92, 93),
 'marks': (1, 2, 45, 99)}

In [60]:
x = {'name': ['Neha', ('Priya', 'Priyanka'), 'Kirti'],
 'age': (90, 91, 92, 93),
 'marks': (1, 2, 45, 99)}

In [63]:
x['name'][1][1]

'Priyanka'

In [65]:
x

{'name': ['Neha', ('Priya', 'Priyanka'), 'Kirti'],
 'age': (90, 91, 92, 93),
 'marks': (1, 2, 45, 99)}

In [82]:
x = {
    'name':'A',
    'age':23,
    0:1,
    0:"1",
    0:"python",
    '0':'hello',
    1.8:0,
    1:'0'
}

In [83]:
x

{'name': 'A', 'age': 23, 0: 'python', '0': 'hello', 1.8: 0, 1: '0'}

In [86]:
#wap to make dict inside a dict.

a = {
    1:0,
    2:1,
    3:2,
    
    'b':{
        'name':123,
        'salary':890
    }
}

In [87]:
type(a)

dict

In [89]:
#wap to slice salary from above data/dict.a

In [93]:
a['b']['salary']

890