In [6]:
# for loop
# while loop
# wap to print from 0-10.

# Syntax----> for variable in range function(define the range):
#     print the msg

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# 2-20
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [19]:
n = 3
for i in range(12,34,n-1):
    print(i)

12
14
16
18
20
22
24
26
28
30
32

In [22]:
#wap to print number from -10 to 10.
#wap to print number from 10 to -10.

for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range(10,-11,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [29]:
#wap to find odd and even number from 0-50.
for i in range(51):
    if i%2 ==0:
        print("Even number---------->",i)
    else:
        print("Odd",i)

Even number----------> 0
Odd 1
Even number----------> 2
Odd 3
Even number----------> 4
Odd 5
Even number----------> 6
Odd 7
Even number----------> 8
Odd 9
Even number----------> 10
Odd 11
Even number----------> 12
Odd 13
Even number----------> 14
Odd 15
Even number----------> 16
Odd 17
Even number----------> 18
Odd 19
Even number----------> 20
Odd 21
Even number----------> 22
Odd 23
Even number----------> 24
Odd 25
Even number----------> 26
Odd 27
Even number----------> 28
Odd 29
Even number----------> 30
Odd 31
Even number----------> 32
Odd 33
Even number----------> 34
Odd 35
Even number----------> 36
Odd 37
Even number----------> 38
Odd 39
Even number----------> 40
Odd 41
Even number----------> 42
Odd 43
Even number----------> 44
Odd 45
Even number----------> 46
Odd 47
Even number----------> 48
Odd 49
Even number----------> 50

In [30]:
for i in range(51):
    if i%2 !=0:
        print("Odd number---------->",i)
    else:
        print("Even",i)

Even 0
Odd number----------> 1
Even 2
Odd number----------> 3
Even 4
Odd number----------> 5
Even 6
Odd number----------> 7
Even 8
Odd number----------> 9
Even 10
Odd number----------> 11
Even 12
Odd number----------> 13
Even 14
Odd number----------> 15
Even 16
Odd number----------> 17
Even 18
Odd number----------> 19
Even 20
Odd number----------> 21
Even 22
Odd number----------> 23
Even 24
Odd number----------> 25
Even 26
Odd number----------> 27
Even 28
Odd number----------> 29
Even 30
Odd number----------> 31
Even 32
Odd number----------> 33
Even 34
Odd number----------> 35
Even 36
Odd number----------> 37
Even 38
Odd number----------> 39
Even 40
Odd number----------> 41
Even 42
Odd number----------> 43
Even 44
Odd number----------> 45
Even 46
Odd number----------> 47
Even 48
Odd number----------> 49
Even 50

In [31]:
#while loop ----->
# 1 . initialization
# 2.  condition
# 3.  increment/decrement

# 0-10

x = 0
while x<10:
    print(x)
    x=x+1
#     x+=1
#     x++

0
1
2
3
4
5
6
7
8
9

In [32]:
x = 0
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [33]:
x = 0
while x<10:
    print(x)
    x++

SyntaxError: invalid syntax (Temp/ipykernel_14104/1374958610.py, line 4)