In [3]:
#wap to make a variable inside a oops and try to get the output!!.

class x:
    a = 9
    
    
print(x())
x().a

<__main__.x object at 0x000001BD5480A6D0>

9

In [6]:
johhny_bhai = x()

In [7]:
johhny_bhai.a

9

In [9]:
#wap and make a function inside a oops try to get the output.

class function:
    def fun(self):
        print("hello I am inside oops")
    
    
f = function()
f.fun()

hello I am inside oops

In [11]:
class add:
    def fun(self,x,y):
        result = x+y
        return result
    
    
a = add()
a.fun(3,8)

11

In [14]:
class add:
    def fun(selfie,x,y):
        result = x+y
        return result
    
    
a = add()
a.fun(3,80)

83

In [15]:
#wap to make a variable & a function inside oops and try to get the output.
class c :
    a = 90
    def fun(self):
        print("function")
        
x = c()
x.a

90

In [16]:
x.fun()

function

In [17]:
# function----- optimized 
# constructor-----> to escape from function.
# like function but ------> no need to call the constructor.

In [18]:
class emp:
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        
        
e = emp("A",78000)
e.name

'A'

In [19]:
e.salary

78000

In [22]:
emp("A",67).name

'A'

# Inheritance

In [26]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    
class child(parent):
    def __init__(self,name,age,marks):
        parent.__init__(self,name,age)
        self.marks = marks
        
        
        

c = child("A",56,90)
c.name

'A'

In [27]:
c.marks

90

In [28]:
c.age

56

In [30]:
c.name,c.age,c.marks

('A', 56, 90)

In [32]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    
class child(parent):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks
        
        
        

c = child("A",56,90)
c.name

'A'

In [33]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
        
        
class child(parent):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary = salary
        
        
c = child("A",23,90000)

In [34]:
c.name

'A'

In [35]:
c.age

23

In [36]:
c.salary

90000

In [38]:
# wap to inherit a class car from automobile and try to find the 
# output of the car class attribute.

class automobile:
    def __init__(self,name):
        self.name = name
        
    
class car(automobile):
    def __init__(self,name):
        super().__init__(name)
        
        
        
c = car("Alto 800")
c.name

'Alto 800'