In [1]:
a = (23,78,90,32,76)
print(a)

(23, 78, 90, 32, 76)

In [2]:
type(a)

tuple

In [3]:
# string
a = ('23','hello bhai','u r op')

In [4]:
print(a)

('23', 'hello bhai', 'u r op')

In [5]:
type(a)

tuple

In [6]:
x = (34,67,89,'hello bhai',89.4,34.2,True)
print(x)

(34, 67, 89, 'hello bhai', 89.4, 34.2, True)

In [7]:
type(x)

tuple

In [8]:
#slicing with the help of indexing.
x

(34, 67, 89, 'hello bhai', 89.4, 34.2, True)

In [9]:
x[0]

34

In [10]:
x(0)

TypeError: 'tuple' object is not callable

In [11]:
# mutable & immutable
x

(34, 67, 89, 'hello bhai', 89.4, 34.2, True)

In [13]:
x[0] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
# Tuple Method
# index
# count

x

(34, 67, 89, 'hello bhai', 89.4, 34.2, True)

In [20]:
x.index(1)

6

In [21]:
x = (34, 67, 89,1, 'hello bhai', 89.4, 34.2, True)

In [23]:
x.count(0)

0

In [24]:
x.count(1)

2

In [25]:
x = (34, 67, 89,[1, 'hello bhai', 89.4], 34.2, True)
print(x)

(34, 67, 89, [1, 'hello bhai', 89.4], 34.2, True)

In [26]:
type(x)

tuple

In [27]:
#wap to slice 89.4 from the above the data.

In [28]:
x

(34, 67, 89, [1, 'hello bhai', 89.4], 34.2, True)

In [ ]:
x[3][2]

In [ ]:
x[5]

In [29]:
x

(34, 67, 89, [1, 'hello bhai', 89.4], 34.2, True)

In [31]:
x[3][2]

89.4

In [32]:
# tupple immutable----->

x[3][0]='Python'

In [33]:
x

(34, 67, 89, ['Python', 'hello bhai', 89.4], 34.2, True)

In [35]:
x[0]=123

TypeError: 'tuple' object does not support item assignment

In [36]:
# index
# ordered
# immutable



#wap to make empty list.
#wap to make empty tuple.
#wap to make single element list.
#wap to make single element tuple.

In [37]:
# empty list---->
a = []
print(a)

[]

In [38]:
type(a)

list

In [39]:
# single element list---->

a= [1]
print(a)

[1]

In [40]:
type(a)

list

In [41]:
# empty tuple

x = ()
print(x)

()

In [42]:
type(x)

tuple

In [45]:
# single element tuple
a = (100,)
print(a)

(100,)

In [46]:
type(a)

tuple

In [47]:
a = 1,2,3,4,90,67,34,56,45
print(a)

(1, 2, 3, 4, 90, 67, 34, 56, 45)

In [48]:
type(a)

tuple

In [51]:
#wap to add data to a tuple.
a= (1,2,3,4)
b = list(a)
print(b)

b.append(90)
print(b)
c = tuple(b)
print(c)

[1, 2, 3, 4]
[1, 2, 3, 4, 90]
(1, 2, 3, 4, 90)

In [52]:
type(c)

tuple